@model List<ttkaart.ViewModels.ResultListViewModel>

@using ttkaart.Helpers
@using ttkaart.Service;
@using ttkaart.Models;

@{
    ViewBag.Title = "TTKAART.NL - Resultaten spelers " + Model[0].clubName + " " + Model[0].teamNumber +
                        " (" + Model[0].className + " " + Model[0].pouleName +
                            " (" + (Model[0].pouleCategory == 1 ? "Senioren" : "Junioren") + ")" +
                            ", " + (Model[0].seasonPeriod == 1 ? "Voorjaar" : "Najaar") + " " + Model[0].seasonYear +
                            ", " + (Model[0].regionName.Contains("Landelijk") ? "" : "Afdeling ") + Model[0].regionName;
                            
    ViewBag.Description = "Overzicht van spelers en resultaten van het team " + Model[0].clubName + " " + Model[0].teamNumber +
                            " uitkomende in " + Model[0].className + " " + Model[0].pouleName +
                            " (" + (Model[0].pouleCategory == 1 ? "senioren" : "junioren") + ")" +
                            ", " + (Model[0].seasonPeriod==1 ? "voorjaar" : "najaar") + " " + Model[0].seasonYear +
                            ", " + (Model[0].regionName.Contains("Landelijk") ? "" : "Afdeling ") + Model[0].regionName + ".";

    ViewBag.HasSideBar = false;
    ViewBag.Robots = "none";
}

<h1>
Resultaten @Model[0].clubName @Model[0].teamNumber
-
@Html.RouteLink((Model[0].className + " " + Model[0].pouleName).Trim(new char[] { ' ', '-' }),
                "PouleDetails",
                new RouteValueDictionary { { "id", Model[0].pouleId }, {"name", (Model[0].className + " " + Model[0].pouleName).ToUrlFriendlyString() }})
-
@{
    string competitionName = (Model[0].seasonPeriod==1 ? "Voorjaar" : "Najaar") + " " + Model[0].seasonYear + " - " + 
                              (Model[0].pouleCategory==1 ? "Senioren" : "Junioren") + " - " +
                              (Model[0].regionName.Contains("Landelijk") ? "" : "Afdeling ") + " " + Model[0].regionName;

    RouteValueDictionary competitionRouteValues = new RouteValueDictionary();
    competitionRouteValues.Add("season", Model[0].seasonId);
    competitionRouteValues.Add("category", Model[0].pouleCategory);
    competitionRouteValues.Add("region", Model[0].regionId);
    competitionRouteValues.Add("seasonName", (Model[0].seasonPeriod == 1 ? "Voorjaar" : "Najaar") + "-" + Model[0].seasonYear);
    competitionRouteValues.Add("categoryName", (Model[0].pouleCategory == 1 ? "Senioren" : "Junioren"));
    competitionRouteValues.Add("regionName", Model[0].regionName.ToUrlFriendlyString());

    @Html.RouteLink(competitionName, "CompetitiesOverzicht", competitionRouteValues);
}
</h1>

<table class="data">
    @Html.GenerateTableHeader(TableModels.TeamPlayerHeadings, Request.QueryString["SorteerOp"], Request.QueryString["Richting"])
    <tbody>
@{
    foreach (var result in Model)
    {
        string playerName = result.playerName.ToUrlFriendlyString();

        RouteValueDictionary routeValues = new RouteValueDictionary { { "id", result.playerNr}, {"name", playerName} };
        
        @:<tr>
        <td>@Html.RouteLink(result.playerNr, "SpelersDetails", routeValues)</td>
        <td>@Html.RouteLink(result.playerName, "SpelersDetails", routeValues)</td>
        <td>@result.setsPlayed</td>
        <td>@result.setsWon</td>
        <td>@result.percentage</td>
        <td>@(result.rating == -9999 ? "-" : result.baseRating.ToString())</td>
        <td>@(result.rating == -9999 ? "-" : result.rating.ToString())</td>
        <td>@result.license</td>
        @:</tr>
    }
}
    </tbody>
</table>
<p>
* ratings van voorjaar 2006 en eerder zijn gebaseerd op de basisratings van najaar 2006<br />
** rating op basis competitieresultaat<br />
*** licentie op basis van seizoensrating (kan afwijken van daadwerkelijke licentie)<br />
</p>

