@model ttkaart.ViewModels.ContactViewModel

@{
    ViewBag.Title = "TTKAART.NL - Contact";
    ViewBag.Description = "Contactpagina voor ttkaart.nl";
    ViewBag.HasSideBar = true;
    ViewBag.Robots = "all";
}

<h1>Contact</h1>

<p>Opmerkingen? Complimenten? Suggesties? Aanvullingen op gegevens? Vul dan onderstaand formulier in om een bericht achter te laten!</p>

@using (Html.BeginForm("", "Contact", FormMethod.Post))
{
	<table>
		<tr>
			<td width="100px" style="vertical-align:top;">@Html.LabelFor(m => m.Name)</td>
			<td>@Html.TextBoxFor(m => m.Name, new { size = 35, maxlength = 100 } )</td>
            <td>@Html.ValidationMessage("Name")</td>
		</tr>
		<tr>
			<td style="vertical-align:top;">@Html.LabelFor(m => m.Email)</td>
			<td>@Html.TextBoxFor(m => m.Email, new { size = 35, maxlength = 255 })</td>
            <td>@Html.ValidationMessage("Email")</td>
		</tr>
		<tr>
			<td style="vertical-align:top;">@Html.LabelFor(m => m.Subject)</td>
			<td>@Html.TextBoxFor(m => m.Subject, new { size = 35, maxlength = 200 })</td>
            <td>@Html.ValidationMessage("Subject")</td>
		</tr>
		<tr>
			<td style="vertical-align:top;">@Html.LabelFor(m => m.Message)</td>
			<td>@Html.TextAreaFor(m => m.Message, new { cols = 40, rows = 5 } )</td>
            <td>@Html.ValidationMessage("Message")</td>
		</tr>
		<tr>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Verstuur bericht" /></td>
		</tr>
	</table>
}

<p>&nbsp;</p>

<h2>Disclaimer</h2>
<p>
Disclaimer: Aan de gegevens vermeldt op deze website kunnen geen rechten worden ontleend.<br/>
De weergegeven ratings en licenties zijn puur indicatief bedoeld. 
</p>
